<!DOCTYPE html>
<html lang="en">
  <head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JR6ZB1HP9R"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JR6ZB1HP9R');
</script>
 

   <title>Start</title>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
          <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
          </head>
          <html>
            <body>
              <center>
                <h3>Invalid input!</h3>
      You have given an empty string
 
   
    
              </center>
            </body>
          </html>